page-restaurants {

    .restaurantspage {
        background: url('../../assets/imgs/sala.jpg') center no-repeat;
        background-size: cover;
    }


    #card1 {
        height: 75%;
       
    }

    #card {
        height: 75%;
        width: 75%;
    }


   
}
