page-home {

    .homepage {
        background: url('../../assets/imgs/burger.gif') fixed center;
        max-width: 100%;
       
    }

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:65.2%;
    }

    #butao {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

}
